* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(21, 21, 114);
  padding: 1rem;
}

.logo {
  height: 7rem;
  width: 7rem;
}

img {
  height: 1rem;
  width: 3rem;
}

a {
  text-decoration: none;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.reset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.fields {
  padding-bottom: 1rem;
}

.react-datepicker__input-container input {
  height: 3.5rem;
  padding: .5rem;
  width: 14.5rem;
  font-size: 1rem;
}